
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500722819149'); /* IE9*/
  src: url('iconfont.eot?t=1500722819149#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500722819149') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500722819149') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500722819149#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erweima:before { content: "\e642"; }

.icon-shouye:before { content: "\e64f"; }

.icon-wodejuhuasuan:before { content: "\e659"; }

.icon-yanjing:before { content: "\e661"; }

.icon-ju:before { content: "\e668"; }

